
.contenu{
    position:relative;
    top:1%;
    left:23%;
    
}
.contenu h2{
    position:relative;
    left:25%; 
}
 
 .contenu button{
    position:relative;
    left:26%; 

} 
.page h2 a{
    position:relative;
    left:23%; 
    padding: 25px;
}
