


img {
    max-width: 100%
}
.topPicture {
    width: 800px;

}
.bao-container{
    background-image: url("../img/blog-1.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding: 1rem;
}